//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^test.fabianr.de[nc]
RewriteRule ^(.*)$ http://www.test.fabianr.de/$1 [r=301,nc]

//Custom 404 errors
ErrorDocument 404 /errordocs/not_found.php

//Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

//Prevent directory listings
Options All -Indexes
 

# ----------------------------------------------------------------------
# Allow loading of external fonts
# ----------------------------------------------------------------------

<FilesMatch "\.(ttf|otf|eot|woff|woff2)$">
    <IfModule mod_headers.c>
        SetEnvIf Origin "http(s)?://(www\.)?(fabianr.de|test.fabianr.de|intrnet)$" AccessControlAllowOrigin=$0
        Header add Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
        Header merge Vary Origin
    </IfModule>
</FilesMatch>